@model NFTrove.Application.DTOs.NftDTO

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Crear NFT</h1>
<hr />
<div class="row justify-content-center">
 <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-begin="onBegin"
              data-ajax-failure="onFailure"
              data-ajax-success="onSuccess"
              data-ajax-complete="onComplete"
              asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input type="file" class="form-control" id="ImageFile" name="ImageFile" required />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <br />

            <div class="row">

                <div class="col-lg-6 ">
                    <a asp-action="Index" class="btn btn-secondary btn-block">Cancelar</a>
                </div>

                <div class="col-lg-6 d-flex justify-content-end">
                    <input type="submit" value="Crear" class="btn btn-primary btn-block" />
                </div>
            </div>
         
        </form>
    </div>
</div>
<div id="loader" class="xxxx"></div>



@section scripts {

    <script>
        function onBegin() {
            console.log("onBegin")
            document.getElementById("loader").className = "loading";
        }

        function onFailure(response) {
            console.log("onFailure")
            console.log(response)
            Swal.fire({
                title: "Error!",
                icon: "error",
                text: response.responseText,
                timer: 2000,
                timerProgressBar: true
            })
        }

        function onSuccess(response) {
            console.log("onSuccess")
        }

        function onComplete() {
            console.log("onComplete")
            document.getElementById("loader").className = "xxxxx";

            // Clear field

            document.getElementById("Nombre").value = "";
            document.getElementById("Autor").value = "";
            document.getElementById("Valor").value = "";
            document.getElementById("Cantidad").value = "";
            document.getElementById("ImageFile").value = "";



        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
